
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>
            Parabéns<b>@ViewData["Nome"]</b>,<br /> você concluiu a <b> @ViewBag.Atividade</b> do <b>@ViewBag.Cuso</b>
        </h2>
    </div>
</body>
</html>
